name: contribution-snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build:
    if: github.repository == 'GQLiu1001/GQLiu1001'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate snake svg
        uses: Platane/snk@v3
        with:
          github_user_name: GQLiu1001
          outputs: |
            dist/github-contribution-grid-snake.svg
          color_snake: "#6aa5c1"
          color_dots: "#e5eef4 #c2d8e4 #9bb9cc #749fb7 #51657a"

      - name: Publish to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
